<div class="row" style="margin-top: 20px;">
  <div class="span3">
    <%= link_to("<i class=\"icon-github \"></i> log in with github.com".html_safe, "/auth/github", :class => "btn") %>
  </div>

  <div class="span2">
    <strong>or</strong>
  </div>

  <div class="span3">
    <strong>Login using site-only account (not recommended):</strong><br/>
    <br/>
    <%= form_tag sessions_path do %>
        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <div class="field">
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          <%= label_tag :remember_me %>
        </div>
        <div class="actions btn-small"><%= submit_tag "Log in" %></div>
    <% end %>
  </div>
</div>



