<%= form_for(@user.as_user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @user.github_uid %>
        <%# if user comes from github, just make a button to update his account
    via a github api request or whatever... %>
        <strong>Sorry</strong>, changes to users with github account are not (yet) possible! <br/>
    <% else %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

    <% end %>


    <hr>
    Change your testbed credentials here: username, password <br/>
    <% Testbed.all.each do |tb| %>
        <%
           users_credentials_for_current_testbed = UserTestbedCredential.where(:user_id => @user.id, :testbed_id => tb.id).first
           user_username = users_credentials_for_current_testbed.nil? ? "" : users_credentials_for_current_testbed.username
           user_password = users_credentials_for_current_testbed.nil? ? "" : "*"*12
        %>

        <%= fields_for UserTestbedCredential.new do |testbed_fields| %>
            <div class="testbedform" id="<%= tb.shortname %>">
              <div class="field">
                <%= testbed_fields.label tb.name %>
                <%= testbed_fields.hidden_field :shortname, :name => "[credentials][#{tb.shortname}][shortname]", :value => tb.shortname %>
                <%= testbed_fields.text_field :username, :name => "[credentials][#{tb.shortname}][username]", :value => user_username %>
                <%= testbed_fields.password_field :password, :name => "[credentials][#{tb.shortname}][password]", :value => user_password %>
              </div>
            </div>
        <% end %>
    <% end %>

    <% if current_user.is_admin? %>
        <hr>
        <div class="field alert alert-error">
          <%= f.label :is_allowed_to_be_an_admin, "User -> AdminUser (please type 'YES')" %>
          <%= f.text_field :is_allowed_to_be_an_admin, :name => :is_allowed_to_be_an_admin, :value => "" %>
        </div>
    <% end %>

    <br />
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>

<% end %>
