<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %> <% if @user.is_admin? %> <span class="label label-important">Admin</span> <% end %>
</p>

<p>
  <b>Email:</b>
  <% if @user.github_uid %>
        <%= link_to @user.email, "https://github.com/#{@user.email.split("@")[0]}" %>
      <% else %>
        <%= @user.email %>
  <% end %>
</p>
<p>
  <b>Experiments:</b><br />
  <il>
  <% @user.experiments.each do |exp| %>
    <li><%= link_to(exp.name, experiment_path(exp)) %></li> <br />
  <% end %>
  </il>
</p>

<% if (current_user == @user) or current_user_is_admin? %>
  <%= link_to "<i class=\"icon-pencil\"></i>".html_safe+' Edit', edit_user_path(@user), :class => "btn btn-small" %>
  <%= link_to "<i class=\"icon-trash\"></i>".html_safe+' Destroy', @user.as_user, confirm: 'Are you sure?', method: :delete, :class => "btn btn-small btn-danger" %>
<% end %>
                                
