<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Experiments:</b></br>
  <% @user.experiments.each do |exp| %>
    <%= link_to(exp.name, experiment_path(exp)) %> <br />                                  
  <% end %>
</p>

<% if (session["user_id"] == @user.id) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %> 
                                
