<%= @run.experiment.name %> | <%= @run.id %> on <%= @run.testbed.shortname %></h1>

<p>
  <b>created by:</b>
  <%= @run.user.email %>
</p>
<p>
    <b>status:</b> <%= @run.state.to_s %><br>
    <% if @run.state.to_sym == :running %>
        until <%= @run.finish_time %>
    <% elsif @run.state.to_sym == :finished %>
        at <%= @run.finish_time %>
    <% else %>
        from <%= @run.start_time %> to <%= @run.finish_time ? @run.finish_time : "not specified" %>
    <% end %>
</p>

<p>
  <b>files:</b><br>
  <%= render :partial => "files" %>
</p>

<% if current_user %>
    <div id="experiment_run">
      <%= submit_tag 'Run this experiment!', :disable_with => "Please wait...", :id => :experiment_run_button %>
    </div>
<% end %>

<%= link_to ' << Back', experiment_path(@run.experiment) %> |
<%= link_to 'Destroy!', @run, confirm: 'Are you sure?', method: :delete %>
