<%= form_for(@experiment) do |f| %>
    <% if @experiment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this exp from being saved:</h2>

          <ul>
            <% @experiment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :value => "", :placeholder => "Experiment Name" %>
    </div>
    <div class="field">
      <%= f.label :default_download_config_url, "URL of the configuration file to use for future runs" %>
      <%= f.text_field :default_download_config_url, :placeholder => "URL" %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description,:placeholder => "A sample description text...", :rows => 10, :cols => 50, :style => "width: 400px;"%>
    </div>
    <div class="field">
      <%= f.label :visibility, "public visible?" %>
      <%= f.check_box :visibility, :checked => true %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
<% end %>
