<p id="notice"><%= notice %></p>

<h1><%= @experiment.name %></h1>

<p>
  <b>created by:</b>
  <%= @experiment.user.email %>
</p>

<p>
  <b>completed runs:</b>
  <% @experiment.experiment_runs.each do |testrun|%>
    <div>run #<%= testrun.id %> | <%= testrun.start_time.nil? ? "sheduled - not yet running" : testrun.end_time.nil? ? "running..." : "finished @ #{testrun.end_time}" %></div>
  <% end %>
</p>

<% if (session["user_id"] == @experiment.user.id) %>
  <%= link_to 'Edit', edit_experiment_path(@experiment)%> |
<% end %>

<% if (session["user_id"]) %>
  <%= form_tag(experiment_runs_path(@experiment.id), :method => :post) do -%>
    <%= hidden_field_tag 'experiment_id', @experiment.id %>
    <%= submit_tag 'Run this experiment!', :disable_with => "Please wait...", :confirm => "Are you sure?" %>
  <% end -%>

<% end %>

<%= link_to 'Back', users_path %>