<h1><%= @experiment.name %></h1>

<p>
  <b>created by:</b>
  <%= @experiment.user.email %>
</p>

<p>
  <%= @experiment.description %>
</p>

<p>
    <%=raw @experiment.experiment_runs.empty? ? "<b> no runs yet! </b>" : "<b> runs:</b>" %>

    <il>
    <% @experiment.experiment_runs.each do |run| %>
        <li><a href="<%= experiment_run_path(@experiment,run) %>" >
            run # <%= run.id %> | <%=  render :partial => 'experimentruns/status', :locals => {:run => run} %>
        </a></li>
  <% end %>
    </il>
</p>

<% if current_user %>
    <div id="experiment_run">
        <%= submit_tag 'Run this experiment!', :disable_with => "Please wait...", :id => :experiment_run_button, :class => "btn btn-primary" %>
    </div>
<% end %>

<br/>
<% if current_user == @experiment.user or current_user.is_admin? %>
    <%= link_to 'Edit', edit_experiment_path(@experiment), :class => "btn btn-small" %>
    <%= link_to 'Destroy', @experiment, confirm: 'Are you sure?', method: :delete, :class => "btn btn-small btn-danger" %>
<% end %>