<h1><%= @experiment.name %></h1>

<p>
  <b>created by:</b>
  <%= @experiment.user.email %>
</p>

<p>
  <%= @experiment.description %>
</p>

<p>
    <%=raw @experiment.experiment_runs.empty? ? "<b> no runs yet! </b>" : "<b> runs:</b>" %>

    <% @experiment.experiment_runs.each do |testrun| %>
        <div><%= link_to("run # #{testrun.id}
        | #{testrun.state.nil?  ? 'just created' : testrun.state.to_s}
        | #{testrun.finish_time || testrun.start_time || 'in the future...' }
        ", experiment_run_path(@experiment,testrun)) %></div>
    <% end %>
</p>

<% if current_user %>
    <div id="experiment_run">
        <%= submit_tag 'Run this experiment!', :disable_with => "Please wait...", :id => :experiment_run_button %>
    </div>
<% end %>


<% if current_user == @experiment.user or current_user.isAdmin? %>
    <%= link_to 'Edit', edit_experiment_path(@experiment)%> |
<% end %>